{
	admin off
	servers {
		protocols h1 h2
	}
}

{$STAGING_HOSTNAME} {
	header {
		Cache-Control "no-store"
		X-Robots-Tag "noindex, nofollow"
	}

	@internal path /network/radius/*
	respond @internal 404
	request_body {
		max_size 5MB
	}
	reverse_proxy web:8000
}
